{{range $index, $a := .}}{
  "rktKind": "dockerAuth",
  "rktVersion": "v1",
  "registries": [
    "{{removeHttps $a.ProxyEndpoint}}"
  ],
  "credentials": {
    "user": "AWS",
    "password": "{{$a.Pass}}"
  }
}{{end}}
